html{
	background-color:#ffe5e0;
}

form{
	display:grid;
	grid-row-gap:5%;
	grid-template-columns:20%;
	justify-content:center;
}

.dishFormDiv{
	background-color:#ba4029;
	padding:15%;
	width:100%;
	border-radius: 30px;
	text-align:center;
	color:white;
	font-family: "Roboto",sans-serif;
}
